@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Ubuntu & display = swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
#titulo{
    font-family:'Allura', cursive; 
    color:black;
    margin-left:35%;
    font-size: 80px;
    font-style: normal;
    
}
#frase{
    margin-left: 0%;
    font-family: "Space Mono", monospace;
    font-size: 18px;
}
fieldset{
    border: 0;
    background-color: #Ffffff;
}
body{
    background-color: rgb(245, 225, 233);
    font-family: Noto Sans, sans-serif;
    font-size: 1em;
    color:#050003;
    margin-top:4%;
    justify-content: center;

}

input, select, button{
    border-radius: 7px;
    border: 1px solid rgb(230, 70, 235);

}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-block: 1%;
    font-family:'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: inherit;
    font-size: 17px;
}
fieldset.grupo .campo{
    float: left;
    margin-right:1em ;
}

.campo input[type="text"], .campo input[type="email"], .campo select,.campo[type="endereço"]{
    padding: 0.2em;
    border: 1px solid rgb(232, 95, 236);
    box-shadow: 2px 2px 2px #d879eb ;
}
.botão{
    background-color:#f53e94;
    margin-left: 30%;
    border: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#menu-h {
    list-style: none;
    padding: 0%;
    background-color:#f597ac ;

}
#menu-h  li{
   display:inline;
   
   
}

#menu-h li a{
    color:azure;
    padding: 25px;
    display: inline-block;
    text-decoration: none;

}

#menu-h  li a:hover{
    color:#660966 ;

}

#botao{
    font-size: 30px;
    margin-left: 50%;
    color: rgb(253, 223, 238);
    box-shadow: 2px 2px 2px rgba(0,0,0,0,2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0,5);
    top:90%;  
    border: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}
#img {
    border-radius: 8px;
}

.baixe{
   font-family: "Space Mono", monospace;
   margin-block: 3%;
   color: rgb(0, 0, 0);
   display: flex;
   margin-right: 2%;
   margin-left: 5%;
   text-align: center;
   font-size: 20px;

}
form{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 199, 230);
    width: 830px;
    margin: auto;
    text-align: justify;
    padding: 30px 30px;
    box-shadow: rgb(250, 215, 238);

}
.garanta{
    font-family:Arial, Helvetica, sans-serif;
    margin-block: 3%;
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    margin-right: 2%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
}
#barra{
    font-display:initial;
    font-size: 10px;
}
